<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        {{template "layouts/breadcrumb.html" .}}
        <li class="">
            <a href="/department/index">部门信息</a>
        </li>
        <li class="active">
            {{.PageTitle}}
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
    <div class="row">
        <div class="space-12"></div>
        <form class="form-horizontal" action="" method="post" id="create_form" @submit.prevent="submitForm"
              @submit.prevent="submitForm">
            <fieldset>
                <div class="col-sm-6 col-sm-offset-2 col-xs-12">

                    <div class="form-group">
                        <label class="control-label col-sm-4">部门名称</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Name" v-model.trim="department.Name"
                                   placeholder="请输入部门名称" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">所属公司</label>
                        <div class="col-sm-8">
                            <vue-select class="vue-select2" name="select2" label="Name"
                                        :options="options" v-model.trim="department.Company"
                                        @search="selectData">
                            </vue-select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="space-6"></div>
            <div class="clearfix form-group ">
                <div class="col-sm-offset-5 col-xs-offset-3">
                    <button class="btn btn-success btn-sm " type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                    <button class="btn btn-sm" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    app = new Vue({
        el: '#create_form',
        delimiters: ['{', '}'],
        data: {
            errors: [],
            department: {
                Name: '',
                Company: '',
                CreatedAt: '',
            },
            Id: 0,
            options: [],
        },
        mounted: function () {
            this.selectData();
            this.initData();
        },
        methods: {
            initData: function () {
                let _this = this;
                let id = "{{.Id}}";
                console.log(id);
                if (id !== "" && typeof (id) !== "undefined") {
                    this.$showInitData("/department/" + id).then(res => {
                            _this.department = res;
                            _this.Id = res.Id;
                        },
                        error => {
                            console.log(error);
                        });
                }
            },
            selectData: function (search) {
                let options = {};
                if (search) {
                    options["query"] = "name__icontains:" + search;
                }
                this.options = this.$select2Company(options);
            },
            submitForm: function () {
                let url, method;
                if (this.Id === 0) {
                    url = "/department";
                    method = 'post';
                } else {
                    url = "/department/" + this.Id;
                    method = 'put';
                }
                if (this.validateForm()) {
                    this.$submitFormData(method, url, this.department).then(res => {
                        },
                        error => {
                            console.log(error);
                        });
                }
            },
            //验证表单是否通过
            validateForm: function () {
                this.errors = [];
                if (this.department.Name === '') {
                    toastr.error("部门名称不能为空");
                    return false;
                }
                if (this.department.Company === '') {
                    toastr.error("所属公司不能为空");
                    return false;
                }
                return true;
            }
        }
    });
</script>