<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        {{template "layouts/breadcrumb.html" .}}
        <li class="active">
            {{.PageTitle}}
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-header">
    <div class="col-sm-12 col-xs-6">
        <div class="btn-group">
            <a href="/department/new" class="btn btn-sm btn-primary">新增部门</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="page-content " id="page_content" data-url="/department">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 widget-container-col ui-sortable">
            <div class="widget-box ui-sortable-handle" id="widget-box-1">
                <div class="widget-header">
                    <h5 class="widget-title">查询条件</h5>
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal filter-form"
                              action="/user" method="get">
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-12 col-md-3">
                                    <label class="control-label col-sm-4">部门名称</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" value="" placeholder="请输入姓名"
                                               name="Name" v-model.trim="index.Name">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12 col-md-3">
                                    <label class="control-label col-sm-4">所属公司</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="index.Company" id="company_id" label="Name"
                                                    :placeholder="'请选择所属公司'" :reduce="Name => Name.Id"
                                                    :options="CompanyArray"
                                                    @search:focus="clickCompany" @search="clickCompany">
                                        </vue-select>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons" id="buttons">
                                <div class="col-sm-offset-5 col-xs-offset-3 col-md-offset-5">
                                    <button class="btn btn-success btn-sm" type="button" @click="filterResult">
                                        <i class="ace-icon fa fa-search bigger-110"></i>
                                        查询
                                    </button>

                                    <button class="btn btn-sm btn-danger" type="button" @click="refreshResult">
                                        <i class="ace-icon fa fa-refresh bigger-110"></i>
                                        清空查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-12"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="table-responsive">
                <index-table
                        :col-Names="colNames"
                        :objects="objects"
                        :actions="actions"
                ></index-table>
            </div>
        </div>
    </div>
    <div class="row pull-right">
        <paginate
                :page-count="pageCount"
                :click-handler="clickCallback"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'">
        </paginate>
    </div>
</div>