<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <style>
        .menu-text {
            vertical-align: sub;
        }
    </style>
    {{template "layouts/head.html" .}}
    {{.HtmlHead}}
</head>
<body class="no-skin">
{{template "layouts/navbar.html" .}}
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <div id="sidebar" class="sidebar responsive ace-save-state" data-sidebar-scroll="true" data-sidebar-hover="true">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>
        {{template "layouts/menuList.html" .}}
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            {{.LayoutContent}}
        </div>
    </div>
</div>
<footer>
    {{template "layouts/footer.html" .}}
    {{if .JsName | ShowAssets}}
        <script src="/dist/{{.JsName}}.js?version=2"></script>
    {{end}}
    {{.Scripts}}
</footer>
</body>
