<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    {{.ContentHeader}}
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
</head>
<body style="background-color: #fff">
<div class="container">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top ">
            <a class="navbar-brand" href="#">Top navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
                    <li class="nav-item"> <a class="nav-link disabled" href="#">Disabled</a> </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>


{{/*    <div class="header">*/}}
{{/*        <a href="#" class="logo fl"><img src="/static/img/logo.png" alt="logo"></a>*/}}
{{/*        <a href="/login_out" class="logout fr">退 出</a>*/}}
{{/*    </div>*/}}
{{/*    <div class="side_bar">*/}}
{{/*        <div class="user_info">*/}}
{{/*            <img src="/static/img/person.png" alt="张大山">*/}}
{{/*            <p>欢迎你 <em>李雷</em></p>*/}}
{{/*        </div>*/}}

{{/*        <div class="menu_con">*/}}
{{/*            <div class="first_menu active"><a href="javascript:;" class="icon02">文章管理</a></div>*/}}
{{/*            <ul class="sub_menu show">*/}}
{{/*                <li><a href="/" class="icon031">文章列表</a></li>*/}}
{{/*                <li><a href="/article/add" class="icon032">添加文章</a></li>*/}}
{{/*                <li><a href="/article_type/create" class="icon034">添加分类</a></li>*/}}
{{/*            </ul>*/}}
{{/*        </div>*/}}
{{/*    </div>*/}}
{{/*    {{.LayoutContent}}*/}}
</div>
<footer>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
</footer>
</body>
</html>