<script src="/assets/js/bootstrap.min.js"></script>
<!-- ace settings handler -->
<script src="/assets/js/ace-extra.min.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/assets/js/autosize.min.js"></script>
<script src="https://unpkg.com/vuejs-paginate@latest"></script>
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
