<ul class="nav nav-list">
    <li class="" id="home">
        <a href="/">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text">{{i18n .Lang "home"}}</span>
        </a>
    </li>
    <li id="company">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-home"></i>
            <span class="menu-text">{{i18n .Lang "menu.company"}}</span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu nav-show" style="display: none">
            <li class="" id="CompanyController">
                <a href="/company/index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    {{i18n .Lang "module_name.company"}}
                </a>
                <b class="arrow"></b>
            </li>
            <li class="" id="DepartmentController">
                <a href="/department/index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    {{i18n .Lang "module_name.department"}}
                </a>
            </li>
            <li class="" id="UserController"><a href="/user/index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    {{i18n .Lang "module_name.employee"}}
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li id="customer_manage">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text">{{i18n .Lang "menu.cooperator"}}</span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu nav-show" style="display: none">
            <li class="" id="CustomerController">
                <a href="/customer/index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    {{i18n .Lang "module_name.customer"}}
                </a>
                <b class="arrow"></b>
            </li>
            <li class="" id="SupplierController">
                <a href="/supplier/index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    {{i18n .Lang "module_name.supplier"}}
                </a>
            </li>
            <li class="" id="ContactController">
                <a href="/contact/index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    {{i18n .Lang "module_name.contact"}}
                </a>
            </li>
        </ul>
    </li>
    <li class="" id="order_manage">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text">{{i18n .Lang "menu.order"}}</span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <ul class="submenu nav-show " style="display: none;">
            <li class="" id="OrderController"><a href="/order/index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    {{i18n .Lang "module_name.order"}}
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
</ul>
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-save-state ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>