<div id="navbar" class="navbar navbar-default ace-save-state">
    <button type="button" class="navbar-toggle menu-toggler pull-left display" id="menu-toggler" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="navbar-header pull-left">
        <a href="/" class="navbar-brand">
            <small>
                <i class="fa fa-leaf"></i>
                {{i18n .Lang "appName"}}
            </small>
        </a>
    </div>
    <div class="navbar-buttons navbar-header pull-right">
        <ul class="nav ace-nav">
            <li class="danger dropdown-modal">
                <a class="dropdown-toggle" href="/login_out">
                    <i class="ace-icon fa fa-power-off icon-animated-vertical"></i>
                    <span class="">{{i18n .Lang "quit"}}</span>
                </a>
            </li>
            <li class="light-blue">
                <a href="#" class="dropdown-toggle" aria-expanded="false">
                    <img class="nav-user-photo" src="/assets/images/avatars/user.jpg" alt="Jason's Photo">
                    <span class="user-info">
                        <small>Welcome,</small>
                        Jason
                    </span>
                </a>
            </li>
            <li class="green dropdown-modal">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-cogs"></i>
                    {{i18n .Lang .CurLang}}
                </a>
                <ul class=" dropdown-navbar dropdown-menu  dropdown-close">
                    {{range .RestLangs}}
                        <li class=" dropdown-header"><a href="javascript:void(0);" data-lang="{{.Lang}}"
                                                        class="lang-changed">{{i18n $.Lang .Name}}</a></li>
                    {{end}}
                </ul>
            </li>
        </ul>
    </div>
</div>