<div class="breadcrumbs ace-save-state " id="breadcrumbs">
    <ul class="breadcrumb">
        {{template "layouts/breadcrumb.html"}}
        <li class="">
            <a href="/user/index">员工信息</a>
        </li>
        <li class="active">
            {{.PageTitle}}
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-12"></div>
        <form class="form-horizontal" action="" method="post" data-id="{{.UserId}}"
              id='create_form' @submit.prevent="checkForm">
            {{/*                错误信息提示*/}}
            {{template "../common/errors.html" .}}
            <fieldset>
                <div class="col-sm-6 col-sm-offset-2 col-xs-12">

                    <div class="form-group">
                        <label class="control-label col-sm-4">姓名</label>
                        <div class="col-sm-8">
                            <input class="form-control" v-model.trim="user.Name" name="Name" value="{{.User.Name}}"
                                   placeholder="请输入公司名称" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">邮箱</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="email" v-model.trim="user.Email" name="Email"
                                   value="{{.User.Email}}"
                                   placeholder="请输入邮箱" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">电话</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="ace-icon fa fa-phone"></i>
                            </span>
                                <input class="form-control" v-model.trim="user.Phone" type="tel" name="Phone"
                                       value="{{.User.Phone}}" placeholder="请输入电话" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">密码</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="password" v-model.trim="user.Pwd" name="Password"
                                   value="{{.User.Pwd}}"
                                   placeholder="请输入新密码" autocapitalize="off" id="new-password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">确认密码</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="password" v-model.trim="user.confirmPassword"
                                   name="ConfirmPassword" value="{{.User.Pwd}}"
                                   placeholder="请再次输入密码" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">性别</label>
                        <div class="col-sm-8">
                            <vue-select class="vue-select2" name="select2" label="Name"
                                        :options="['男','女']" v-model.trim="user.Gender"
                                        :searchable="false" language="zh-CN">
                            </vue-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">所属公司</label>
                        <div class="col-sm-8">
                            <vue-select class="vue-select2" name="select2" label="Name"
                                        :options="companyOptions" v-model.trim="user.Company"
                                        @search="selectData">
                            </vue-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">所属部门</label>
                        <div class="col-sm-8">
                            <vue-select class="vue-select2" name="select2" label="Name"
                                        :options="departmentOptions" v-model.trim="user.Department"
                                        @search="selectDepartment" @search:focus="selectDepartment">
                            </vue-select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">入职时间</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o bigger-110"></i>
                                </span>
                                <datetime v-model="user.EntryTime"  type="datetime" format="yyyy-MM-dd HH:mm"></datetime>
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="space-6"></div>
            <div class="clearfix form-group ">
                <div class="col-sm-offset-5 col-xs-offset-3">
                    <button class="btn btn-success btn-sm " type="submit" @submit="checkForm">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                    <button class="btn btn-sm" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#create_form',
        delimiters: ['{', '}'],
        data: {
            user: {
                Name: '',//姓名
                Email: '',//邮箱
                Phone: '',//电话
                Pwd: '',//密码
                confirmPassword: '',//确认密码
                Gender: '', // 性别
                Company: '',// 所属公司
                Department: '',
                EntryTime: '', //入职时间
            },
            errors: [], //错误
            companyOptions: [],
            departmentOptions: [],
            Id: '',
        },
        mounted: function () {
            this.selectData();
            this.initData();
        },
        methods: {
            //对表单的数据进行验证
            checkForm: function () {
                this.errors = [];
                let _this = this;
                let url, method;
                if (this.Id === '') {
                    url = "/user";
                    method = 'post';
                } else {
                    url = "/user/" + this.Id;
                    method = 'put'
                }
                // let entryTime = this.user.EntryTime;
                if (this.validateSubmit()) {
                    this.$submitFormData(method, url, this.user).then(res => {
                            if (res.length !== 0) {
                                $.each(res, function (key, value) {
                                    _this.errors.push(key + ':' + value);
                                });
                            }
                        },
                        error => {
                            console.log(error);
                        });
                }
            },

            //提交表单前进行验证
            validateSubmit: function () {
                let regPhone = /^1[3456789]\d{9}$/;
                if (!this.user.Name) {
                    this.errors.push("姓名必填项");
                    return false;
                }
                if (!this.user.Email) {
                    this.errors.push("邮箱必填项");
                    return false;
                }
                if (!this.user.Phone) {
                    this.errors.push("电话必填项");
                    return false;
                }
                if (this.user.Company === '') {
                    this.errors.push("所属公司不能为空");
                    return false;
                }
                if (this.user.Id === '') {
                    if (!this.validatePassword()) {
                        return false;
                    }
                } else if (this.user.Id !== '' && this.user.Pwd !== '') {
                    if (!this.validatePassword()) {
                        return false;
                    }
                }
                if (!regPhone.test(this.user.Phone)) {
                    this.errors.push('请输入有效的手机号码');
                    return false;
                }
                console.log(this.user.EntryTime);
                // this.user.EntryTime = this.$dateFormat(this.user.EntryTime,"YYYY-MM-DDTHH:mm:ssZ");
                return true;
            },
            validatePassword: function () {
                if (!this.user.Pwd) {
                    this.errors.push('密码必填项');
                    return false;
                }
                if (!this.user.confirmPassword) {
                    this.errors.push("确认密码必填项");
                    return false;
                }
                if (!(this.user.Pwd === this.user.confirmPassword)) {
                    this.errors.push('两次输入的密码不一致');
                    return false;
                }
                return true;
            },
            //所属公司下拉数据
            selectData: function (search) {
                let options = {};
                if (search) {
                    options["query"] = "Name:" + search;
                }
                this.companyOptions = this.$select2Company(options);
            },
            //修改时初始化数据
            initData: function () {
                let id = "{{.Id}}";
                let _this = this;
                if (id !== "" && typeof (id) !== 'undefined') {
                    this.$showInitData("/user/" + id).then(res => {
                            _this.user = res;
                            _this.Id = res.Id;

                        },
                        error => {
                            console.log(error);
                        });
                }
            },
            selectDepartment: function (search) {
                let company = this.user.Company;
                if (company === "") {
                    return
                }
                let str = "Company:" + company.Id;
                if (search) {
                    str += ",Name:" + search;
                }
                this.departmentOptions = this.$select2Department({query: str});
            }
        }
    });


</script>