<div class="main_body" id="main_body">
    <div class="breadcrub">
        当前位置：文章管理>编辑文章
    </div>
    <div class="pannel">
        <form name=logon method="post" enctype="multipart/form-data" action="/article/update">
            <h3 class="review_title">编辑文章</h3>
            <div class="form_group">
                <label>文章标题：</label>
                <input type="text" class="input_txt2" name="articleName" value="{{.article.ArtiName}}">
            </div>
            <div class="form_group">
                <label>文章内容：</label>
                <textarea class="input_multxt" name="content">{{.article.Acontent}}</textarea></textarea>
            </div>
            <div class="form_group">
                <label>上传图片：</label>
                <img src="{{.article.Aimg}}" style="width: 100px;height: 100px;">
                <input type="file" name="uploadname" class="input_file">
            </div>
            <input type="number" name="Id" value="{{.article.Id}}" hidden="hidden">
            <div class="form_group indent_group line_top">
                <input type="submit" value="保 存" class="confirm">
                <span>{{.errmsg}}</span>
            </div>
        </form>

    </div>

</div>
