<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <style>
        .login-container {
            margin: 100px auto !important;
        }
    </style>
    <title>订单管理系统</title>
    {{template "login/header.html" .}}
</head>
<body class="login-layout blur-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="white" id="id-text2">订单管理系统</span>
                        </h1>
                        <h4 class="light-blue" id="id-company-text">© 徐涛涛</h4>
                        <div class="space-6"></div>
                        <div class="position-relative">
                            {{/*  用户登录模块                          */}}
                            {{template "login/loginIn.html" .}}
                            {{/*                            忘记密码模块*/}}
                            {{template "login/forgetPass.html" .}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "login/footer.html" .}}
</body>
</html>
<script>
    jQuery(function ($) {
        $(document).on('click', '.toolbar a[data-target]', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });
</script>