<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        {{template "layouts/breadcrumb.html" .}}
        <li class="">
            <a href="/company">公司信息</a>
        </li>
        <li class="active">
            {{.PageTitle}}
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
    <div class="row">
        <div class="space-12"></div>
        <form class="form-horizontal" action="/company" method="post" id="create_form" @submit.prevent="submitForm">
            <fieldset>
                <div class="col-sm-6 col-sm-offset-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-4">公司名称</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Name" v-model.trim="company.Name"
                                   value="{{.Company.Name}}"
                                   placeholder="请输入公司名称" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">公司座机</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="tel" name="Telephone" value="{{.Company.Telephone}}"
                                   v-model="company.Telephone" placeholder="请输入座机" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">公司邮箱</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="email" name="Email" value="{{.Company.Email}}"
                                   v-model="company.Email" placeholder="请输入公司邮箱" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4">公司地址</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Address" value="{{.Company.Address}}"
                                   v-model.trim="company.Address" placeholder="请输入公司地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">公司网站</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Website" value="{{.Company.Website}}"
                                   placeholder="请输入公司网站" v-model="company.Website">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">公司备注</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="Remarks" value="{{.Company.Remarks}}"
                                      placeholder="" v-model="company.Remarks"></textarea>
                        </div>

                    </div>
                </div>
            </fieldset>
            <div class="space-6"></div>
            <div class="clearfix form-group ">
                <div class="col-sm-offset-5 col-xs-offset-3">
                    <button class="btn btn-success btn-sm " type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        保存
                    </button>
                    <button class="btn btn-sm" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#create_form',
        delimiters: ['{', '}'],
        data: {
            company: {
                Id: '',
                Name: "",
                Telephone: '',
                Address: '',
                Email: '',
                Remarks: "",
                Website: "",
            }
        },
        mounted: function () {
            this.initData();
        },
        methods: {
            //初始化数据
            initData: function () {
                let id = "{{.Id}}";
                let _this = this;
                if (id !== "" && typeof (id) !== 'undefined') {
                    this.$showInitData("/company/" + id).then(res => {
                            _this.company = res;
                        },
                        error => {
                            console.log(error);
                        });
                }
            },
            //提交表单
            submitForm: function () {
                if (!this.validateForm()) {
                    return
                }
                let method, url = "";
                if (this.company.Id === '') {
                    method = "post";
                    url = "/company"
                } else {
                    method = "put";
                    url = "/company/" + this.company.Id
                }
                this.$submitFormData(method, url, this.company).then(res => {
                    },
                    error => {
                        console.log(error);
                    });

            },
            validateForm: function () {
                if (!this.company.Name) {
                    toastr.error("公司名称不能为空");
                    return false;
                }
                if (!this.company.Telephone) {
                    toastr.error("公司座机不能为空");
                    return false
                }
                if (!this.company.Email) {
                    toastr.error("公司邮箱不能为空");
                    return false
                }
                return true
            }

        }
    })
</script>