<div class="page-header">
    <div class="col-sm-12 col-xs-6">
        <div class="btn-group">
            <a href="/company/new" class="btn btn-sm btn-primary"> 新增公司</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        {{template "layouts/breadcrumb.html" .}}
        <li class="active">
            <a href="#">{{.PageTitle}}</a>
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content" id="page_content">
    {{template "companies/filter.html" .}}
    <div class="space-12"></div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="spinner-grow text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <table id="company_table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>公司名称</th>
                    <th>公司座机</th>
                    <th>公司邮箱</th>
                    <th>公司地址</th>
                    <th>公司网站</th>
                    <th>公司备注</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(company, index) in companyList">
                    <td>
                        <button class="btn btn-xs btn-info" @click="editCompany(company.Id,index)">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                            修改
                        </button>
                        <button class="btn btn-xs btn-danger" @click="deleteCompany(company.Id,index)">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            删除
                        </button>
                    </td>
                    <td>{ company.Name }</td>
                    <td>{company.Telephone}</td>
                    <td>{company.Email}</td>
                    <td>{company.Website}</td>
                    <td>{company.Address}</td>
                    <td>{company.Remarks}</td>
                    <td>{company.CreatedAt}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<script type="text/javascript">
{{/*    加载table的数据*/}}
    var app = new Vue({
        el: '#page_content',
        delimiters: ['{', '}'],
        data: {
            companyList: []
        },
        mounted: function () {
            this.getList()
        },
        methods: {
            //获取所有的数据
            getList: function () {
                var hashParams = {};
                $.each($('#company_filter').serializeArray(), function (key, value) {
                    hashParams[value['name']] = value['value'];
                });
                axios.get('/company', {
                    headers: {'X-Requested-With': 'XMLHttpRequest'},
                    params: hashParams,
                    dataType: 'json',
                }).then(function (response) {
                    app.companyList = response['data'];
                }).catch(function (error) {
                    console.log(error);
                });
            },
            //过滤部分数据
            filterResult: function () {
                app.getList();
            },
            //清空数据
            refreshResult: function () {
                $('#company_filter')[0].reset();
                app.getList();
            },
            editCompany: function(Id,index){
                console.log(Id);

            },
            deleteCompany: function (Id,index) {
                console.log(index);
                if(confirm("确定删除该记录？")){
                    axios.delete("/company/"+Id, {
                        headers: {'X-Requested-With': 'XMLHttpRequest'},
                        dataType: 'json',
                    }).then(function (response) {
                        app.companyList.splice(index, 1)
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        }
    });
</script>