<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        {{template "layouts/breadcrumb.html" .}}
        <li class="">
            <a href="/customer/index">{{i18n .Lang "module_name.customer"}}</a>
        </li>
        <li class="active">
            {{.PageTitle}}
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
    <div class="row">
        <div class="space-12"></div>
        <form class="form-horizontal" action="" method="post" id="create_form" @submit.prevent="submitForm"
              @submit.prevent="submitForm">
            <fieldset>
                <div class="col-sm-6 col-xs-12 col-md-5">
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.Name"}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Name" v-model.trim="customer.Name"
                                   placeholder="{{i18n .Lang "customer.Name"}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.Telephone"}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Telephone" v-model.trim="customer.Telephone"
                                   placeholder="{{i18n .Lang "customer.Telephone"}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.Email"}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Email" v-model.trim="customer.Email"
                                   placeholder="{{i18n .Lang "customer.Email"}}" type="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.Address"}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Address" v-model.trim="customer.Address"
                                   placeholder="{{i18n .Lang "customer.Address"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.Website"}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="Email" v-model.trim="customer.Website"
                                   placeholder="{{i18n .Lang "customer.Website"}}" type="url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.BusinessTypeName"}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="BusinessTypeName" v-model.trim="customer.BusinessTypeName"
                                   placeholder="{{i18n .Lang "customer.BusinessTypeName"}}">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.Company"}}</label>
                        <div class="col-sm-8">
                            <vue-select class="vue-select2" name="select2" label="Name"
                                        :options="CompanyOptions" v-model.trim="customer.Company"
                                        @search:focus="clickCompany" @search="clickCompany" required>
                            </vue-select>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 col-md-5">
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.AccountPeriod"}}</label>
                        <div class="col-sm-8">
                            <vue-select class="vue-select2" name="select2" label="label"
                                        :options="AccountPeriodOptions" v-model.trim="customer.AccountPeriod"
                                        :reduce="label => label.code" required>
                            </vue-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.Aging"}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" value="" name="Aging"
                                   v-model.trim="customer.Aging"
                                   placeholder="{{i18n .Lang "customer.Aging"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.Amount"}}</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" value="" name="Amount"
                                   v-model.trim="customer.Amount"
                                   placeholder="{{i18n .Lang "customer.Amount"}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.CompanyType"}}</label>
                        <div class="col-sm-8">
                            <vue-select class="vue-select2" name="select2" label="label"
                                        :options="CompanyTypeOptions" v-model.trim="customer.CompanyType"
                                        :reduce="label => label.code" required>
                            </vue-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.IsVip"}}</label>
                        <div class="col-sm-8">
                            <vue-select class="vue-select2" name="select2" label="label"
                                        v-model.trim="customer.IsVip"
                                        :options="IsVipOptions" :reduce="label => label.code" required>
                            </vue-select>
                        </div>
                    </div>
                    {{if .ControllerName | ShowSaleUser}}
                        <div class="form-group">
                            <label class="control-label col-sm-4">{{i18n .Lang "customer.SaleUser"}}</label>
                            <div class="col-sm-8">
                                <vue-select v-model.trim="customer.SaleUser" id="sale_user"
                                            @search:focus="clickUser" @search="clickUser" :options="userOptions"
                                            label="Name" required></vue-select>
                            </div>
                        </div>
                    {{end}}
                    <div class="form-group">
                        <label class="control-label col-sm-4">{{i18n .Lang "customer.AuditUser"}}</label>
                        <div class="col-sm-8">
                            <vue-select v-model.trim="customer.AuditUser" id="audit_user"
                                        @search:focus="clickUser" :options="userOptions"
                                        @search="clickUser" label="Name" required></vue-select>
                        </div>
                    </div>
                </div>

            </fieldset>
            <div class="space-6"></div>
            <div class="clearfix form-group ">
                <div class="col-sm-offset-5 col-xs-offset-3">
                    <button class="btn btn-success btn-sm " type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        {{i18n .Lang "save"}}
                    </button>
                    <button class="btn btn-sm" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        {{i18n .Lang "cancel"}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>