<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        {{template "layouts/breadcrumb.html" .}}
        <li class="active">
            {{.PageTitle}}
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-header">
    <div class="col-sm-12 col-xs-6">
        <div class="btn-group">
            <a href="/customer/new" class="btn btn-sm btn-primary">新增客户</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content" id="page_content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 widget-container-col ui-sortable">
            <div class="widget-box ui-sortable-handle" id="widget-box-1">
                <div class="widget-header">
                    <h5 class="widget-title">查询条件</h5>
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal filter-form" id="company_filter" action="/customer" method="get"
                              data-remote=true>
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">公司名称</label>
                                    <div class="col-sm-8">
                                        <input class="form-control " value="" name="Name" v-model.trim="customer.Name"
                                               placeholder="请输入公司名称">
                                    </div>
                                </div>
                                <div class=" col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">公司座机</label>
                                    <div class="col-sm-8">
                                        <input class="form-control " value="" name="Telephone"
                                               v-model.trim="customer.Telephone"
                                               placeholder="请输入公司座机">
                                    </div>
                                </div>
                                <div class=" col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">公司邮箱</label>
                                    <div class="col-sm-8">
                                        <input class="form-control " value="" name="Email" v-model.trim="customer.Email"
                                               placeholder="请输入公司邮箱">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">业务类型</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" value="" name="BusinessTypeName"
                                               v-model.trim="customer.BusinessTypeName"
                                               placeholder="请输入业务类型">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">胀期</label>
                                    <div class="col-sm-8">
                                        <vue-select class="vue-select2" name="select2" label="label"
                                                    :options="select2Data" v-model.trim="customer.AccountPeriod"
                                                    :searchable="true" language="zh-CN" :placeholder="'请选择账期'" @search:focus="select2Method('AccountPeriod')">
                                        </vue-select>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">账龄</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="number" value="" name="Aging"
                                               v-model.trim="customer.Aging"
                                               placeholder="请输入账龄">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">额度</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="number" value="" name="Amount"
                                               v-model.trim="customer.Amount"
                                               placeholder="请输入额度">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">VIP客户</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="customer.IsVip" :options="[{label: '是', code: true},{label: '否',code: false}]"></vue-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">状态</label>
                                    <div class="col-sm-8">
                                        <vue-select class="vue-select2" name="select2" label="label"
                                                    :options="select2Data" v-model.trim="customer.Status"
                                                    :searchable="true" language="zh-CN" :placeholder="'请选择状态'" @search:focus="select2Method('Status')">
                                        </vue-select>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">所属公司</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="customer.Company" id="company_id" label="Name"
                                                    :placeholder="'请选择所属公司'"
                                                    :searchable="true" language="zh-CN"
                                                    :options = "companyOptions" @search:focus="clickCompany"
                                        >

                                        </vue-select>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">业务员</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="customer.SaleUser" id="sale_user"
                                                    :placeholder="'请选择业务人员'"
                                                    @search:focus="clickUser"
                                                    :options = "userOptions"
                                                    label="Name"
                                                    :searchable="true" language="zh-CN"

                                        ></vue-select>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">创建者</label>
                                    <div class="col-sm-8">
                                        <vue-select  v-model.trim="customer.CreateUser" id="create_user"
                                                     :placeholder="'请选择创建者'"
                                                     @search:focus="clickUser"
                                                     :options = "userOptions"
                                                     label="Name"
                                                     :searchable="true" language="zh-CN"
                                        ></vue-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">审核员</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="customer.AuditUser" id="audit_user"
                                                    :placeholder="'请选择审核者'"
                                                    @search:focus="clickUser"
                                                    :options = "userOptions"
                                                    label="Name"
                                                    :searchable="true" language="zh-CN"
                                        ></vue-select>
                                    </div>
                                </div>
                            </div>

                            <div class="buttons" id="buttons">
                                <div class="col-sm-offset-5 col-xs-offset-3">
                                    <button class="btn btn-success btn-sm" type="button" v-on:click="filterResult">
                                        <i class="ace-icon fa fa-search bigger-110"></i>
                                        查询
                                    </button>

                                    <button class="btn btn-sm btn-danger" type="button" v-on:click="refreshResult">
                                        <i class="ace-icon fa fa-refresh bigger-110"></i>
                                        清空查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-12"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="table-responsive">
                <index-table
                        :col-Names="colNames"
                        :objects="objects"
                        :actions="actions"
                ></index-table>
            </div>
        </div>
    </div>
    <div class="row pull-right">
        <paginate
                :page-count="pageCount"
                :click-handler="clickCallback"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'">
        </paginate>
    </div>
</div>

