<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        {{template "layouts/breadcrumb.html" .}}
        <li class="active">
            {{.PageTitle}}
        </li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-header">
    <div class="col-sm-12 col-xs-6">
        <div class="btn-group">
            {{if .ControllerName | ShowSaleUser}}
                <a href="/customer/new" class="btn btn-sm btn-primary">{{LocaleS (i18n .Lang "new") (i18n .Lang "module_name.customer") }}</a>
            {{else}}
                <a href="/supplier/new" class="btn btn-sm btn-primary">{{LocaleS (i18n .Lang "new") (i18n .Lang "module_name.supplier") }}</a>
            {{end}}
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="page-content" id="page_content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 widget-container-col ui-sortable">
            <div class="widget-box ui-sortable-handle" id="widget-box-1">
                <div class="widget-header">
                    <h5 class="widget-title">{{i18n .Lang "search_filter"}}</h5>
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal filter-form" id="company_filter" action="/customer" method="get"
                              data-remote=true>
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.Name"}}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control " value="" name="Name" v-model.trim="customer.name__icontains"
                                               placeholder="{{i18n .Lang "customer.Name"}}">
                                    </div>
                                </div>
                                <div class=" col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.Telephone"}}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control " value="" name="Telephone"
                                               v-model.trim="customer.telephone__icontains"
                                               placeholder="{{i18n .Lang "customer.Telephone"}}">
                                    </div>
                                </div>
                                <div class=" col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.Email"}}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control " value="" name="Email" v-model.trim="customer.email__contains"
                                               placeholder="{{i18n .Lang "customer.Email"}}">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.BusinessTypeName"}}</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" value="" name="BusinessTypeName"
                                               v-model.trim="customer.business_type_name__contains"
                                               placeholder="{{i18n .Lang "customer.BusinessTypeName"}}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.AccountPeriod"}}</label>
                                    <div class="col-sm-8">
                                        <vue-select class="vue-select2" name="select2" label="label"
                                                    :options="select2Data" v-model.trim="customer.AccountPeriod"
                                                    @search:focus="select2Method('AccountPeriod')"
                                                    :reduce="label => label.code">
                                        </vue-select>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.IsVip"}}</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="customer.IsVip"
                                                    :options="[{label: '是', code: true},{label: '否',code: false}]"
                                                    :reduce="label => label.code"></vue-select>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.Status"}}</label>
                                    <div class="col-sm-8">
                                        <vue-select class="vue-select2" name="select2" label="label"
                                                    :options="select2Data" v-model.trim="customer.Status"
                                                    @search:focus="select2Method('Status')"
                                                    :reduce="label => label.code">
                                        </vue-select>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.Company"}}</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="customer.Company" id="company_id" label="Name"
                                                    :reduce="Name => Name.Id"
                                                    :options="companyOptions"
                                                    @search:focus="clickCompany"></vue-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{if .ControllerName | ShowSaleUser}}
                                    <div class="col-sm-3 col-xs-12">
                                        <label class="control-label col-sm-4">{{i18n .Lang "customer.SaleUser"}}</label>
                                        <div class="col-sm-8">
                                            <vue-select v-model.trim="customer.SaleUser" id="sale_user"
                                                        @search:focus="clickUser"
                                                        :options="userOptions"
                                                        label="Name" :reduce="Name => Name.Id"
                                            ></vue-select>
                                        </div>
                                    </div>
                                {{end}}
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.CreateUser"}}</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="customer.CreateUser" id="create_user"
                                                    @search:focus="clickUser"
                                                    :options="userOptions"
                                                    label="Name"
                                                    :reduce="Name => Name.Id"
                                        ></vue-select>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <label class="control-label col-sm-4">{{i18n .Lang "customer.AuditUser"}}</label>
                                    <div class="col-sm-8">
                                        <vue-select v-model.trim="customer.AuditUser" id="audit_user"
                                                    @search:focus="clickUser"
                                                    :options="userOptions"
                                                    label="Name"
                                                    :reduce="Name => Name.Id"
                                        ></vue-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-12 col-md-6">
                                    <label class="control-label col-sm-2">{{i18n .Lang "customer.CreatedAt"}}</label>
                                    <div class="col-sm-4 col-md-4">
                                        <datetime v-model="customer.created_at__gte"  type="datetime" format="yyyy-MM-dd HH:mm"></datetime>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <datetime v-model="customer.created_at__lte"  type="datetime" format="yyyy-MM-dd HH:mm"></datetime>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons" id="buttons">
                                <div class="col-sm-offset-5 col-xs-offset-3">
                                    <button class="btn btn-success btn-sm" type="button" v-on:click="filterResult">
                                        <i class="ace-icon fa fa-search bigger-110"></i>
                                        {{i18n .Lang "search"}}
                                    </button>

                                    <button class="btn btn-sm btn-danger" type="button" @click="refreshResult">
                                        <i class="ace-icon fa fa-refresh bigger-110"></i>
                                        {{i18n .Lang "clear"}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-12"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="table-responsive">
                <index-table
                        :col-Names="colNames"
                        :objects="objects"
                        :actions="actions"
                ></index-table>
            </div>
        </div>
    </div>
    {{template "./common/footer_content.html" .}}
</div>

